USE [master]
GO
/****** Object:  Database [MusicStoreDB]    Script Date: 04-Oct-18 7:15:34 AM ******/
CREATE DATABASE [MusicStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MusicStoreDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MusicStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MusicStoreDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicStoreDB]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 04-Oct-18 7:15:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] NOT NULL,
	[songId] [int] NULL,
	[SongTitle] [varchar](50) NULL,
	[format] [varchar](50) NULL,
	[quantity] [int] NULL,
	[Price] [varchar](50) NULL,
	[totalCost] [varchar](50) NULL,
	[userId] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PurchaseTypes]    Script Date: 04-Oct-18 7:15:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseTypes](
	[Id] [int] NULL,
	[monthlyTotal] [int] NULL,
	[oneTimeTotal] [int] NULL,
	[AnnualTotal] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Songs]    Script Date: 04-Oct-18 7:15:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Songs](
	[songID] [int] IDENTITY(1,1) NOT NULL,
	[songTitle] [varchar](50) NULL,
	[songArtist] [varchar](50) NULL,
	[songGenre] [varchar](50) NULL,
	[totalPurchases] [int] NULL,
 CONSTRAINT [PK_Songs] PRIMARY KEY CLUSTERED 
(
	[songID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
